<?xml version="1.0"?>
<!--
  ~ @copyright (c) 2024 Magecore
  ~ @url https://magecore.com.br
  ~ @author Marcio Maciel <os@magecore.com.br>
  ~ @license See LICENSE.md in the module root directory for license information.
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magecore_AttributeManagement">
        <sequence>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>
