<?xml version="1.0"?>
<!--
  ~ @copyright (c) 2024 Magecore
  ~ @url https://magecore.com.br
  ~ @author Marcio Maciel <os@magecore.com.br>
  ~ @license See LICENSE.md in the module root directory for license information.
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\ResourceModel\Eav\Attribute">
        <plugin name="ManageSystemEavAttributeOptionLabel" type="Magecore\AttributeManagement\Plugin\ManageSystemEavAttributeOptionLabel" />
    </type>
</config>
